<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="uk.ac.diamond.scisoft.analysis.io.loader">
      <loader
            class="nobugs.myloader.MyLoader"
            file_extension=".dde"
            high_priority="true">
      </loader>
   </extension>
</plugin>
